//Grid controler
$base-font-size: 16px;
$bigger-font-size: 18px;

// Colors
$base-color: #333;
$background-dark-grey: #eee;
$background-grey: #fafafa;
$border-grey: #e0e0e0;
$dark-blue: #2b3b61;
$light-blue: lightblue;
$white: white;

//Spacing
$none-spacing: 0;
$tiny-spacing: 5;
$small-spacing: 10;
$base-spacing: 20;
$medium-spacing: 40;
$xl-spacing: 60;
$xxl-spacing: 80;

//Margins
$tiny-margin: $tiny-spacing + px;
$small-margin: $small-spacing + px;
$base-margin: $base-spacing + px;
$medium-margin: $medium-spacing + px;
$xl-margin: $xl-spacing + px;
$xxl-margin: $xxl-spacing + px;

$base-title-margin: $base-margin 0;

//Padding
$tiny-padding: $tiny-spacing + px;
$small-padding: $small-spacing + px;
$base-padding: $base-spacing + px;
$medium-padding: $medium-spacing + px;
$xl-padding: $xl-spacing + px;
$xxl-padding: $xxl-spacing + px;
